*{margin: 0px;
padding: 0px;
box-sizing: border-box;}
nav{width: 100%;
height: 80px;
border-bottom: 2px groove #D40604;
padding: 20px 40px;
box-sizing: border-box;
position: relative;
color: white;
background-color: black;}
nav > ul{display: inline-block;
position: absolute;
right: 50px;
top: 30px;}
nav > ul > li{display: inline-block;
margin-right: 35px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;}
nav > img{width:5%;
margin-top: -10px;}
nav > span{margin-left: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 600;
letter-spacing: 2px;}
nav > span > span{color: #D40604;}
nav > ul > li:hover{color: #D40604;
cursor: pointer;
text-decoration: underline;
text-decoration-thickness: 3px;}
.dark-house{border: 2px solid;
width: 100%;
height: 550px;
background-image: url(images/dark\ house.webp);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
object-fit: cover;}
.dark-house > h1{color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
font-size: 70px;
margin-left: 200px;
margin-top:200px ;}
.dark-house > h1 > span{color: #D40604;}
.dark-house > p{color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
     width: 45%;
    margin-left: 200px;
margin-top: 15px;}
.dark-house > button{width: 150px;
height: 40px;
margin-top: 50px;
margin-left: 200px;
border-top-left-radius:20px ;
border-bottom-right-radius: 20px;
border: none;
font-weight: 600;
background-color: #D40604;
color: rgb(255, 255, 255);}
.dark-house > button#right{margin-left: 20px;}
.dark-house > button:hover{width: 150px;
    height: 40px;
    margin-top: 50px;
    margin-left: 200px;
    border-top-left-radius:20px ;
    border-bottom-right-radius: 20px;
    border:2px solid #D40604;
    font-weight: bolder;
    color:#D40604;
    cursor: pointer;
background-color: rgb(220, 216, 216);
box-shadow: 5px 5px 5px 5px #c59190;}
.about{width: 100%;
height: 600px;
padding: 10px 90px;
background-color: #f9f2f2;}
.about > .section{width: 49%;
height: 500px;
margin-top: 50px;}
.about > .section.a > img{width: 450px;
border-radius:30px ;
margin-top: 15%;
margin-left: 10%;
box-shadow: 5px 5px 5px 5px rgb(214, 213, 213);
height: 300px}
.about > .section.a > img:hover{width: 460px;
    height: 310px;
cursor: pointer;}
.about > .section.a{float: left;}
.about > .section.b{float: right;}
.about > .section.b > h1{margin-top: 10px;
margin-left: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;}
.about > .section.b > h1 > span{color: #D40604;
font-size: 50px;}
.about > .section.b > p{margin-top: 20px;
margin-left: 10px;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 2px;
font-size: 15px;
margin-right: 10px;
line-height: 17px;}
.about > .section.b > button{margin-top: 50px;
margin-left: 10px;
padding: 8px 15px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #D40604;
color: white;
font-family: Arial, Helvetica, sans-serif;
border: none;}
.about > .section.b > button:hover{background-color: lightgrey;
border: 2px solid #D40604;
color: #D40604;
box-shadow: 5px 5px 5px 5px #c59190;}
.places{width: 100%;
height: 600px;
border: 2px solid;
background-color: black;}
.places > h1{margin: 20px auto;
width: 250px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
color: #D40604;}
.places > p{color: white;
width: 700px;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 2px;
text-align: center;
margin: 0px auto;}
.places > .card {width: 1100px;
height: 400px;
margin: 50px auto;}
.places > .card > .cards{width: 300px;
border: 2px solid #f9f2f2;
height: 400px;
float: left;
margin-left: 50px;
padding: 10px;}
.places > .card > .cards:hover{width: 320px;
    height: 420px;
cursor: pointer;
box-shadow: 2px 2px 10px 10px #c59190;}
.places > .card > .cards > img{width: 100%;
height: 50%;
border-bottom-right-radius: 30px;
border-bottom: 5px solid rgb(182, 180, 180);}
.places > .card > .cards > img:hover{box-shadow: 2px 2px 10px 10px rgb(236, 234, 234);
cursor:pointer}
.places > .card > .cards > h1{color: #D40604;
font-family: Arial, Helvetica, sans-serif;
font-size: 26px;
width: 110px;
text-align: center;
font-weight: 600;
margin: 15px auto;}
.places > .card > .cards > p{color: white;
margin: 5px 10px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
letter-spacing: 2px;}
.places > .card > .cards > button{width: 100px;
    height: 35px;
margin: 20px 85px;
    border-top-left-radius:20px ;
    border-bottom-right-radius: 20px;
    border: none;
    font-weight: 600;
    background-color: #D40604;
    color: rgb(255, 255, 255);}
.places > .card > .cards > button:hover{border:2px solid #D40604;
    font-weight: bolder;
    color:#D40604;
    cursor: pointer;
background-color: rgb(220, 216, 216);
box-shadow: 5px 5px 5px 5px #c59190;}
footer{width: 100%;
height: 300px;
border: 2px solid;
padding: 20px 50px;}
footer > .section{
width: 250px;
height: 100%;
float: left;
margin: 0px 30px;}
footer > .section:hover{box-shadow:2px 2px 10px 10px #c59190;}
footer > .section > h1 {text-align: center;
font-size: 24px;
color: #D40604;
margin-top: 40px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;}
footer > .section > ul{list-style: none;
margin-left: 30px;
margin-top: 20px;}
footer > .section > ul > li{padding-bottom: 5px;
font-family: Arial, Helvetica, sans-serif;
color: black;
letter-spacing: 2px;
font-weight: 500;
font-size: 15px;}
footer > .section > .icons{
font-size: 40px;
width: 70%;
text-align: center;
margin: 80px auto;
color: #D40604;}
footer > .section > .icons > i:hover{font-size: 45px;
text-shadow: 2px 2px #D40604;
cursor: pointer;
color: black;}

